apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-secrets
type: Opaque
data:
  USER: {{ .Values.secrets.ODOO_DB_USER | b64enc | quote }}
  PASSWORD: {{ .Values.secrets.ODOO_DB_PASSWORD | b64enc | quote}}
  
